$font-family: 'Myriad Pro', sans-serif;

// Colors
$color-main: #2672ef;
$color-main-light: #4285f8;
$color-text: #3d3d3d;
$color-text-placeholder: #a3a3a3;
$color-icon: #666666;
$color-background: #f4f4f4;
$color-border: #c3c3c3;
$color-border-focus: #9c9c9c;
$color-bg-gradient: linear-gradient(to right, $color-main, $color-main-light);
// Spaces
$border-radius: 12px;

// Others
$box-shadow: 0 0 5px rgba(205, 205, 205, 0.3);
